<div class="container">
    <mat-card class="example-card">
        <div class="headline">
            <h1>Login</h1>
        </div>
        <mat-card-content>
            <mat-divider></mat-divider>
            <form (ngSubmit)="login()" [formGroup]="loginForm">
                <mat-form-field appearance="outline" subscriptSizing="dynamic">
                    <mat-label>Email</mat-label>
                    <input aria-describedby="emailHelp" class="form-control" formControlName="email" id="inputEmail"
                        matInput name="email">
                </mat-form-field>

                <mat-form-field appearance="outline" subscriptSizing="dynamic">
                    <mat-label>Password</mat-label>
                    <input type="password" class="form-control" formControlName="password" id="password" matInput
                        name="password">
                </mat-form-field>

                <mat-divider></mat-divider>

                <button type="submit" cdkFocusInitial color="primary" mat-flat-button class="submit-button"
                    name="submit-button">Login
                </button>

                <mat-divider></mat-divider>
                <div class="center">
                    <span style="text-align: center">No account yet?</span>
                    <button type="button" color="primary" mat-flat-button routerLink="/register">Register</button>
                </div>

            </form>
        </mat-card-content>

    </mat-card>
</div>